._paddingLeft {
    padding-left: 40px;
}

._nowrap {
    white-space: nowrap;
}

._card {
    margin: auto;
    margin-top: 15px;
}


._resumeDownloadButton {
    min-width: fit-content;
    margin-top: 15px;
}