.img-profile {
    max-width: 500px;
    max-height: 500px;
    padding-bottom: 75px;
}

._headerTitle {
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 700;
}