/** Shared */
hr {
    background-color: black;
    height: 5px;
    width: 240px;
    margin: auto;
}

._paddingTop10 {
    padding-top: 10px;
}

._paddingTop20 {
    padding-top: 20px;
}

._paddingBottom15 {
    padding-bottom: 15px;
}

._paddingLeft40 {
    padding-left: 40px;
}

._sectionPadding {
    padding: 50px 0px;
}

._fontMontserrat700 {
    font-family: 'Montserrat';
    font-weight: 700;
}

._fontLato {
    font-family: 'Lato';
}

._textMaxWidth {
    max-width: 1000px;
}

._nowrap {
    white-space: nowrap;
}

.row .container {
    max-width: 1440px;
}

/** HEADER */
.img-profile {
    max-width: 500px;
    max-height: 500px;
}

._headerTitle {
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 700;
}

/** PROJECT */
._projectImage {
    max-width: 200px;
    max-height: 200px;
}

._project {
    padding: 25px 10px;
}

/** RESUME */
._card {
    margin: auto;
    margin-top: 15px;
}


._resumeDownloadButton {
    min-width: fit-content;
    margin-top: 15px;
}