hr {
    background-color: black;
    height: 5px;
    width: 240px;
    margin: auto;
}

._paddingTop10 {
    padding-top: 10px;
}

._paddingTop20 {
    padding-top: 20px;
}

._paddingBottom15 {
    padding-bottom: 15px;
}

._sectionPadding {
    padding: 50px 0px;
}

._fontMontserrat700 {
    font-family: 'Montserrat';
    font-weight: 700;
}

._fontLato {
    font-family: 'Lato';
}

._textMaxWidth {
    max-width: 1000px;
}

.row .container {
    max-width: 1440px;
}