

hr {
    background-color: black;
    height: 5px;
    width: 240px;
    margin: auto;
}

._mainContainerRow {
    padding: 75px 0;
}

._paddingTop10 {
    padding-top: 10px;
}

._fontMontserrat700 {
    font-family: 'Montserrat';
    font-weight: 700;
}

._fontLato {
    font-family: 'Lato';
}

._textMaxWidth {
    max-width: 70%;
}